.header-wrapper {
  width: 100%;
  max-width: var(--max-width);
  height: 70px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper > img {
  width: 100px;
  height: 30px;
}

nav ul {
  display: flex;
  gap: 66px;
}

.header-wrapper a {
  font-weight: 500;
  font-size: 18px;
  transition: color 200ms ease-in-out;
}

.header-wrapper a:hover {
  color: var(--primary);
}
