.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 132px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.call-to-action h1 {
  font-size: 48px;
}

.btn {
  width: 200px;
  background-color: var(--primary);
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 16px 0;
  border: 0;
  border-radius: 50px;
}
