.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 132px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.call-to-action h1 {
  font-size: 48px;
}

.button-wrapper {
  width: 200px;
}
